.container {
    max-width: 600px;
    box-shadow: 0 0 0 1px #333;
    border-radius: .3rem;
    position: relative;
    display: flex;
    padding: 2px;
    font-family: sans-serif;
    min-height: 40px;
}

.container:focus {
    box-shadow: 0 0 0 2px rgb(61, 158, 255);
}

.value {
    flex-grow: 1;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.chip {
    background: none;
    border: 1px solid #333333d5;
    padding: 3px 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 4px;
    font-size: .9rem;
    cursor: pointer;
}

.chip:hover {
    background: rgba(255, 171, 171, 0.541);
    border-color: red;
}

.chip:hover span {
    color: red;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5px;

    padding: 6px 0;
}

.clear-btn {
    font-size: 1.2rem;
    color: #333333a3;
    font-weight: 600;
}

.clear-btn:hover {
    cursor: pointer;
    color: black;
}

.divider {
    width: 1px;
    background: #333;
    align-self: stretch;
}

.caret {
    translate: 0 25%;
    border: 5px solid transparent;
    border-top-color: #333333a3;
}

.options {
    position: absolute;
    list-style: none;
    padding: 0;
    top: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    left: 0;
    background: #fff;
    z-index: 1;
}

.option {
    padding: 10px;
    margin-bottom: 1px;
}

.option:hover {
    background: rgb(208, 230, 255);
    cursor: pointer;
}

.option.selected {
    background: rgb(103, 179, 255);
}

.option.highlighted {
    background: rgb(72, 164, 255);
    color: white;
}